.input-field {
    padding: 10px 0 10px 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.input-field:focus {
    border: 1px solid rgb(53, 53, 252);
}

.wrapper {
    padding: 50px 0;
    display: block;
    text-align: center;
    width: 50%;
    box-shadow: 0 0 15px black;
}

.main-content {
    display: flex;
    justify-content: center;
}

.product-form {
    padding: 0px 25px;
}

.basket-list  {
    list-style: none;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 10px;
}

.basket-list > li {
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.btn-add {
    border: 1px solid rgb(29, 143, 250);
    background-color: #fff;
    position: relative;
}

.delete-item, .clear-all {
    position: relative;
    border: 1px solid rgb(255, 86, 86);
    background-color: #fff;
    color:rgb(0, 0, 0);
}

.delete-item:hover, .clear-all:hover {
background-color: rgb(255, 86, 86);
color:#fff;
}

.btn {
    position: relative;
    padding: 10px 35px;
    border-radius: 5px;
}

.svg-container {
    position: absolute;
    left: 3px;
    top: calc(50% - 0.7em);
}
    
.btn-add:hover, .success:hover,.delete-item:hover, .clear-all:hover > .svg-container {
    fill: white;
    stroke: white;
}


.con {
    background-color: rgb(8, 199, 88);
}

.success {
    background-color: #fff;
    border:1px solid rgb(8, 199, 88)
}

.success:hover {
    background-color: rgb(8, 199, 88);
    color:#fff;
}

.btn-add:hover {
    color:#fff;
    background-color: rgb(29, 143, 250);
}

.done {
    background-color: rgb(8, 199, 88);
    color:#fff;
}